<div class="jumbotron">
  <h1 class="display-10">Find a Salesperson</h1>
  <p class="lead">Let us find the right salesperson for you</p>
</div>

<form autocomplete="off" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
          <p>Is Greek your primary language?</p>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="speaksGreek"
            formControlName="speaksGreek"
          />
          <label class="form-check-label" for="speaksGreek"
            >Yes/No</label
          >
        </div>
      </div>
      <div class="form-group">
        <label for="carSelect">What type of cars are you interested in?</label>
        <select class="form-control" id="carSelect" formControlName="carType">
          <option *ngFor="let type of CarTypes" [value]="type.symbol">{{type.name}}</option>
        </select>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!customerForm.valid">Find someone</button>
</form>